#sidebar { 
	font: "Courier New", Courier, monospace;
	margin-top: 5%;
}

#sidebar a {
	color: black;
}

.box {
	width: 75%;
	margin-left: 15%
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}