#sidebar { 
	font-family: "Courier New", Courier, monospace;
	margin-top: 5%;
}

#sidebar a {
	color: black;
}

.box {
	width: 75%;
	margin-left: 15%;
	margin-top: -12%;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.homelogo {
	max-width: 6%;
	margin-left: 1em;
}