#sidebar { 
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	position: sticky;
	background: white;
	width: 100%;
	display: inline-block;
	text-align: right;
	z-index: 999;
}

#sidebar a {
	color: black;
	text-decoration: none;
}

.box {
	width: 75%;
	margin-left: 15%;
	margin-top: -12%;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.row {
    margin-left: 10em;
    margin-top: -2em;
}

.hidden {
	display: none;
}

.wrapper {
	display: inline-flex;
	border: none;
	width: 27%;
	max-height: 370px;
	height: auto;
}

.pic {
    width: -webkit-fill-available;
    z-index: 1;
}


.homelogo {
	max-width: 6%;
	margin-left: 1em;
}

@media only screen and (min-width: 1113px) and (max-width: 1300px) {

	.row {
	    margin-left: 2em;
	    margin-top: -2em;
	}

	.wrapper {
		width: 33%;
	}
}

@media only screen and (min-width: 845px) and (max-width: 1112px) {

	.row {
	    margin-left: 0em;
	    margin-top: -2em;
	}

	.wrapper {
		width: 33%;
	}
}

@media only screen and (min-width: 680px) and (max-width: 844px) {

	.row {
		margin-left: 0em;
	}

	.wrapper {
		width: 32%;
		max-height: 268px;
	}
	
}

@media only screen and (min-width: 500px) and (max-width: 679px) {

	.row {
		margin-left: 0em;
	}

	.wrapper {
		width: 32%;
		max-height: 268px;
	}
	
}

@media only screen and (max-width: 499px) {

	.row {
	    margin-left: 2em;
	    display: grid;
	}

	.box {
		margin-top: 0%;
	}

	.centered {
		width: 100%;
	}

}

